:root{
    --neutral-color-font-regular: #606266;
    --primary-300: #409EFF;
}


html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}

img {
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

}

.container {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.btn-div {
    display: flex;
    align-items: center;
    gap: 200px; 
}

button {
    border-color: transparent;
    background-color: transparent;
}

.btn-wrapper{
    display: flex;
    align-items: center;
    gap: 72px;
}

.button {
    padding: 7px 20px;
    color: var(--neutral-color-font-regular);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    transition: all 0.5s ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 24px;
}

.button:hover, .button:active {
    color: var(--primary-300);
}


.button:disabled {
    opacity: 0.5;
    pointer-events: none;
}


.button:hover svg path {
    stroke: var(--primary-300);
}

.btn-box .btn {
    border-radius: 4px;
    border: 1px solid  #DCDFE6;
    background-color:  #fff;
    border-color: #DCDFE6;
}

.btn-box .btn:hover, .btn:active {
    border-color: #3A8EE6;
}

.btn-box .btn-round {
    border-radius: 222222px;
}




/* BUTTON PRIMARY */


.btn-box  .btn-primary {
    background-color: var(--primary-300,);
    color: white;
    border: transparent;
    transition: all .5s ease-in;
}

.btn-box .btn-primary:disabled{
    opacity: 0.5;
}

.btn-box .btn-primary:hover {
    background-color: #66B1FF;
}

.btn-box .btn-primary:active {
    background-color: #3A8EE6;
}

.btn-box .btn-primary svg path {
    stroke: #fff;
}

.btn-box .btn__primary {
    border-radius: 4px;
    border: 1px solid , #409EFF;
    background-color:  #ECF5FF;
    transition: all .5s ease;
    border-color: #409EFF;
    color: #409EFF;
}

.btn-box .btn__primary svg path {
    stroke: var(--primary-300);
    transition: all 0.5s ease-in;
}

.btn-box .btn__primary:disabled{
    opacity: 0.5;
}

.btn-box .btn__primary:hover svg path {
    stroke: #fff;
}

.btn-box .btn__primary:hover {
    background-color: var(--primary-300);
    color: #fff;
}

.btn-box .btn__primary:active {
    background-color: #3A8EE6;
    color: #fff;
}

.btn-box .primary-round {
    border-radius: 222222px;
}




/* BUTTON SUCCESS */


.btn-box  .btn-success {
    background:  #67C23A;
    color: white;
    border: transparent;
    transition: all .5s ease-in;
}

.btn-box .btn-success:disabled{
    opacity: 0.5;
}

.btn-box .btn-success:hover {
    background-color:  #85CE61;
}

.btn-box .btn-success:active {
    background-color: #5DAF34;
}

.btn-box .btn-success svg path {
    stroke: #fff;
}

.btn-box .btn__success {
    border: 1px solid  #67C23A;
    background-color:  #F0F9EB;
    transition: all .5s ease;
    color:  #67C23A;
    border-color: #67C23A;
}

.btn-box .btn__success svg path {
    stroke: #67C23A;
    transition: all 0.5s ease-in;
}

.btn-box .btn__success:disabled{
    opacity: 0.5;
}

.btn-box .btn__success:hover svg path {
    stroke: #fff;
}

.btn-box .btn__success:hover {
    background-color: #67C23A;
    border-color: #67C23A;
    color: #fff;
}

.btn-box .btn__success:active {
    background-color: #5DAF34;
    border-color: #5DAF34;
    color: #fff;
}


/* BUTTON INFO */


.btn-box  .btn-info {
    background-color:  #909399;
    color: white;
    border: transparent;
    transition: all .5s ease-in;
}

.btn-box .btn-info:disabled{
    opacity: 0.5;
}

.btn-box .btn-info:hover {
    background-color: #A6A9AD ;
}

.btn-box .btn-info:active {
    background-color: #82848A;
}

.btn-box .btn-info svg path {
    stroke: #fff;
}


.btn-box .btn__info {
    border: 1px solid  #909399;
    background-color:  #F4F4F5;
    transition: all .5s ease;
    color:   #909399;
    border-color:  #909399;
}

.btn-box .btn__info svg path {
    stroke:  #909399;
    transition: all 0.5s ease-in;
}

.btn-box .btn__info:disabled{
    opacity: 0.5;
}

.btn-box .btn__info:hover svg path {
    stroke: #fff;
}

.btn-box .btn__info:hover {
    background-color: #A6A9AD;
    border-color: #A6A9AD;
    color: #fff;
}

.btn-box .btn__info:active {
    background-color: #82848A;
    border-color: #82848A;
    color: #fff;
}


/* BUTTON AWARE */


.btn-box  .btn-aware {
    background-color:  #E6A23C;
    color: white;
    border: transparent;
    transition: all .5s ease-in;
}

.btn-box .btn-aware:disabled{
    opacity: 0.5;
}

.btn-box .btn-aware:hover {
    background-color: #EBB563; 
}

.btn-box .btn-aware:active {
    background-color: #CF9236;
}

.btn-box .btn-aware svg path {
    stroke: #fff;
}


.btn-box .btn__aware {
   border: 1px solid  #E6A23C;
    background-color:  #FDF6EC;
    transition: all .5s ease;
    color:   #E6A23C;
    border-color: #E6A23C;
}

.btn-box .btn__aware svg path {
    stroke:  #E6A23C;
    transition: all 0.5s ease-in;
}

.btn-box .btn__aware:disabled{
    opacity: 0.5;
}

.btn-box .btn__aware:hover svg path {
    stroke: #fff;
}

.btn-box .btn__aware:hover {
    background-color: #EBB563;
    border-color: #EBB563;
    color: #fff;
}

.btn-box .btn__aware:active {
    background-color: #CF9236;
    border-color: #CF9236;
    color: #fff;
}



/* BUTTON DANGER */


.btn-box  .btn-danger {
    background-color:  #F56C6C;
    color: white;
    border: transparent;
    transition: all .5s ease-in;
}

.btn-box .btn-danger:disabled{
    opacity: 0.5;
}

.btn-box .btn-danger:hover {
    background-color: #F78989;
}

.btn-box .btn-danger:active {
    background-color: #DC6161;
}

.btn-box .btn-danger svg path {
    stroke: #fff;
}


.btn-box .btn__danger {
    border: 1px solid #F56C6C;
    background-color:  #FEF0F0;
    transition: all .5s ease;
    color: #F56C6C;  
    border-color: #F56C6C;
}

.btn-box .btn__danger svg path {
    stroke:  #F56C6C;
    transition: all 0.5s ease-in;
}

.btn-box .btn__danger:disabled{
    opacity: 0.5;
}

.btn-box .btn__danger:hover svg path {
    stroke: #fff;
}

.btn-box .btn__danger:hover {
    background-color: #F78989;
    border-color: #F78989;
    color: #fff;
}

.btn-box .btn__danger:active {
    background-color: #DC6161;
    border-color: #DC6161;
    color: #fff;
}
